transformers==4.49.0
datasets
torch==2.6.0
tokenizers==0.21.0
safetensors==0.5.2
sentence-transformers
faiss-cpu
langchain
langchain-text-splitters
langchain-community
scikit-learn
numpy
pandas
matplotlib
evaluate
rouge-score
nltk
python-dotenv
ollama
faiss-cpu
rouge-score
flask